.header .title {
    text-align: center;
    background: -webkit-linear-gradient(rgb(211, 66, 66), rgb(21, 39, 201));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.tree-view {
    min-height: 500px;
    margin-left: 50px;
    height: auto;
}

.footer {
    text-align: center;
}

.caret {
    cursor: pointer;
    user-select: none;
}

.caret::before {
    content: url('/public/assets/images/expand.gif');
    display: inline-block;
    margin-right: 6px;
}

.caret-down::before {
    content: url('/public/assets/images/collapse.gif');
    display: inline-block;
    margin-right: 6px;
}

.leaf::before {
    content: url('/public/assets/images/blank.gif');
    display: inline-block;
    margin-right: 6px;
}

/* Hide the nested list */
.nested {
    display: none;
}

.tree-view > .nested {
    display: block;
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.active {
    display: block;
}

.tree-view ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.tree-view ul {
    padding-left: 1em;
}

.tree-view li {
    padding-left: 1em;
    border: 1px dotted black;
    border-width: 0 0 1px 1px;
}

.tree-view li.li-container {
    border-bottom: 0px;
}

.tree-view li p {
    margin: 0;
    background: white;
    position: relative;
    top: 0.5em;
}

.tree-view li ul {
    border-top: 1px dotted black;
    margin-left: -1em;
    padding-left: 1.3em;

}

.tree-view ul li:last-child ul {
    border-left: 1px solid white;
    margin-left: -17px;
}