{% extends "base.html" %}

{% block title %}Treeview{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="/public/css/entry_tree.css">
{% endblock %}

{% block body %}
    <div class="header">
        <h1 class="title">TreeView Project</h1>
        <div class="mode-section">
            <input type="radio" id="mode-1" name="mode" checked value="1">
            <label for="mode-1">Normal (get all tree node)</label><br>
            <input type="radio" id="mode-2" name="mode" value="2">
            <label for="mode-2">Lazy loading tree node (by ajax)</label><br>
        </div>
    </div>
    <hr/>
    <div class="tree-view"></div>
    <hr/>
    <div class="footer">Author: levanlinh1995@gmail.com</div>
{% endblock %}

{% block foot_scripts %}
    <script src="/public/js/entry_tree.js"></script>
{% endblock %}